<!DOCTYPE html>
<head>
  <script src="https://kit.fontawesome.com/0fec082a2e.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="../../css/post.css">
  <link rel="icon" href="../../img/favicon.png">
  <title>{{ title }}</title>
</head>
<body>
  <div class="post">
    {{ content | safe }}
    <a href="../../index.html">Back to beggining</a>
  </div>  
</body>