<!DOCTYPE html>
<head>
  <script src="https://kit.fontawesome.com/0fec082a2e.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  <meta charset="utf-8"/>
  <link rel="icon" href="../img/favicon.png">
  <link rel="stylesheet" href="../css/index.css">
  <title>Paweł Bernaciak</title>
</head>
<body>
  <div class="container">
    <div class="info">
      <div class="photo">
        <img id="myphoto" src="img/icon.png" alt="Me">
      </div>
      <nav class="socialmedia">
        <p id="myname">Paweł Bernaciak<br>Another internet user</p>
        <a href="https://github.com/PawBer/"><i class="fab fa-github-square"></i> GitHub</a>
        <a href="mailto:pawelbernaciak@zohomail.eu"><i class="fas fa-envelope"></i> E-Mail</a>
      </nav>
    </div>
    <div class="projects">
      <h2>Projects and Blog Posts</h2>
      {{ content | safe }}
    </div>
  </div>  
</body>