<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paweł Bernaciak</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body>
    <nav class="navBar">
      {%- for entry in collections.all | eleventyNavigation %}
        <a href="{{ entry.url | url }}" class="navBarLink">{{ entry.title }}</a>
      {%- endfor %}
    </nav>
    <div class="headerImage">
        <h1 id="headerTitle">Paweł Bernaciak</h1>
    </div>
    <div class="content">
        {{content | safe}}
    </div>
</body>
</html>